<a href="https://colab.research.google.com/github/Sungyeonwooo/code_3rd/blob/main/CTBA_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 두가지 이상의 선택, 다방향 선택구조 코딩
 - 배송료처리 3가지로 작성
 - 변수 price, 가격 10만원이상 0원
 2만원이상 3000원, 그 외 5천원

In [21]:
print("배송료는 계산합니다.")
print("# * 30")
price = int(input("구입 금액 입력: "))
if price >= 100000:
  shipping_cost = 0
else:
    if price >= 20000:
      shipping_cost = 3000
    else:
      shipping_cost = 5000
print(f"배송료는 {shipping_cost} 입니다.")

배송료는 계산합니다.
# * 30
구입 금액 입력: 19000
배송료는 5000 입니다.

2. 환영합니다. 5번 출력, 10번 출력, 30번 출력

In [10]:
print("환영합니다.")
print("환영합니다.")
print("환영합니다.")
print("환영합니다.")
print("환영합니다.")

환영합니다.
환영합니다.
환영합니다.
환영합니다.
환영합니다.

In [12]:
print("환영합니다.\n" * 5)

환영합니다.
환영합니다.
환영합니다.
환영합니다.
환영합니다.

In [23]:
count = 1
while count  <= 5:
  print("(", count, ")",  "환영합니다.")
  print(F'({count})', "환영합니다." )
  count += 1

( 0 ) 환영합니다.
( 1 ) 환영합니다.
( 2 ) 환영합니다.
( 3 ) 환영합니다.
( 4 ) 환영합니다.
( 5 ) 환영합니다.

3. 0부터 9까지 출력하기 변수 x

In [25]:
 x = 0
 while x < 10:
   print(x, end=' ')
   x += 1

0 1 2 3 4 5 6 7 8 9

4. 1부터 10까지 정수의 합을 계산하여 출력하는 코드

In [28]:
x = 1
total = 0
while x <= 10:
  total = total + x
  x += 1
print(total)

55

In [29]:
x = 1
while x <= 10:
  print(x)
  x += 1

1
2
3
4
5
6
7
8
9
10

5. 3-6-9 게임(3의 배수 판단): 3의 배수를 3으로 나누면 나머지가 0이 되므로 (i)이 0이면 박수를 출력, 아니면 숫자를 출력해주는 코드 작성

In [27]:
i = 0                                                                            # 변수 i는 0으로 선언
while i <= 30:                                                                   # 반복문 while사용해서 i가 30보다 작거나 같을때
  if i % 3 == 0:                                                                 # 만약 i값을 3으로 나눈 나머지가 0이면
    print("박수", end=' ')                                                       # 박수를 출력하고 공백을 하나 만듦
  else:                                                                          # 위의 것이 아니면,
    print(i, end=' ')                                                            # i값만 출력하고 공백 하나 만듦
  i += 1                                                                         # 변수 i값에 i와 1을 더해서 다시 변수 i에 선언

박수 1 2 박수 4 5 박수 7 8 박수 10 11 박수 13 14 박수 16 17 박수 19 20 박수 22 23 박수 25 26 박수 28 29 박수

In [32]:
for num in range(1, 11):        # 1부터 11까지의 숫자를 반복
  if num % 3 == 0:             # 숫자(num)를 3으로 나눈 나머지가 0인 경우
    print("박수", end=' ')     # 박수를 출력하고 공백 만듦
  else:                        # 그게 아니면
    print(num, end=' ')        # 숫자만 출력하고 공백 만듦

1 2 박수 4 5 박수 7 8 박수 10

6. 팩토리얼 계산하는 코드 작성

In [38]:
i = 5
factorial = 1
while i >= 10:
  factorial = factorial * i
  i -= 1
print(factorial)

1

In [37]:
num = int(input("팩토리얼 값입력: "))
factorial = 1
while num >= 1:
  factorial = factorial * num
  num -= 1
print("계산된 팩토리얼 값은 :", factorial)

팩토리얼 값입력: 3
계산된 팩토리얼 값은 : 6