<a href="https://colab.research.google.com/github/Sungyeonwooo/code_3rd/blob/main/CTBA_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 두가지 이상의 선택, 다방향 선택구조 코딩
 - 배송료처리 3가지로 작성
 - 변수 price, 가격 10만원이상 0원
 2만원이상 3000원, 그 외 5천원

In [ ]:
print("배송료는 계산합니다.")                          # 배송료는 계산합니다를 출력합니다.
print("# * 30")                                        # # * 30를 출력합니다
price = int(input("구입 금액 입력: "))                 # 구입 금액을 입력받습니다.
if price >= 100000:                                    # 배송료를 계산하는 조건문입니다.
  shipping_cost = 0                                    # 구입 금액이 100,000 이상인 경우 배송료는 0원입니다.
else:
    if price >= 20000:                                 # 배송료를 계산하는 조건문입니다..
      shipping_cost = 3000                             # 구입 금액이 20,000 이상인 경우 배송료는 3,000원입니다.
    else:
      shipping_cost = 5000                             # 구입 금액이 20,000 미만인 경우 배송료는 5,000원입니다.
print(f"배송료는 {shipping_cost} 입니다.")             # 배송료를 출력합니다.

배송료는 계산합니다.
# * 30
구입 금액 입력: 19000
배송료는 5000 입니다.

2. 환영합니다. 5번 출력, 10번 출력, 30번 출력

In [ ]:
print("환영합니다.")          # 환영합니다를 출력합니다.
print("환영합니다.")          # 환영합니다를 출력합니다.
print("환영합니다.")          # 환영합니다를 출력합니다.
print("환영합니다.")          # 환영합니다를 출력합니다.
print("환영합니다.")          # 환영합니다를 출력합니다.

환영합니다.
환영합니다.
환영합니다.
환영합니다.
환영합니다.

In [ ]:
print("환영합니다.\n" * 5)

환영합니다.
환영합니다.
환영합니다.
환영합니다.
환영합니다.

In [ ]:
count = 1                                             # 변수 count는 1로 선언
while count  <= 5:                                    # 반복문 while 사용해서 count가 5보다 작거나 같을때
  print("(", count, ")",  "환영합니다.")              # "환영합니다." 문구를 출력합니다. count 변수는 괄호 안에 출력되며, 괄호와 함께 출력됩니다.
  print(F'({count})', "환영합니다." )                 # f-string을 사용하여 "환영합니다." 문구를 출력합니다. count 변수는 괄호 안에 출력되며, 괄호와 함께 출력됩니다
  count += 1                                          # count 변수를 1 증가시킵니다.

( 0 ) 환영합니다.
( 1 ) 환영합니다.
( 2 ) 환영합니다.
( 3 ) 환영합니다.
( 4 ) 환영합니다.
( 5 ) 환영합니다.

3. 0부터 9까지 출력하기 변수 x

In [ ]:
 x = 0                            # 변수 x는 0으로 선언
 while x < 10:                    # 반복문 while사용해서 x가 10보다 작을때
   print(x, end=' ')              # x 값을 출력합니다. end=' '를 사용하여 공백 문자를 출력한 뒤 줄 바꿈을 하지 않고 다음 출력과 이어붙입니다.
   x += 1                         # x 변수를 1 증가시킵니다.

0 1 2 3 4 5 6 7 8 9

4. 1부터 10까지 정수의 합을 계산하여 출력하는 코드

In [ ]:
x = 1                             # 변수 x는 1로 선언
total = 0                         # total 은 0으로 선언
while x <= 10:                    # 반복문 while사용해서 x가 10보다 작거나 같을때
  total = total + x               # total 변수에 x 값을 더하여 누적합니다.
  x += 1                          # x 변수를 1 증가시킵니다.
print(total)                      # total 변수에 저장된 값을 출력합니다.

55

In [ ]:
x = 1                           # 변수 x는 1로 선언
while x <= 10:                  # 반복문 while사용해서 x가 10보다 작거나 같을때
  print(x)                      # x 값을 출력합니다.
  x += 1                        # x 변수를 1 증가시킵니다.

1
2
3
4
5
6
7
8
9
10

5. 3-6-9 게임(3의 배수 판단): 3의 배수를 3으로 나누면 나머지가 0이 되므로 (i)이 0이면 박수를 출력, 아니면 숫자를 출력해주는 코드 작성

In [ ]:
i = 0                                                                            # 변수 i는 0으로 선언
while i <= 30:                                                                   # 반복문 while사용해서 i가 30보다 작거나 같을때
  if i % 3 == 0:                                                                 # 만약 i값을 3으로 나눈 나머지가 0이면
    print("박수", end=' ')                                                       # 박수를 출력하고 공백을 하나 만듦
  else:                                                                          # 위의 것이 아니면,
    print(i, end=' ')                                                            # i값만 출력하고 공백 하나 만듦
  i += 1                                                                         # 변수 i값에 i와 1을 더해서 다시 변수 i에 선언

박수 1 2 박수 4 5 박수 7 8 박수 10 11 박수 13 14 박수 16 17 박수 19 20 박수 22 23 박수 25 26 박수 28 29 박수

In [ ]:
for num in range(1, 11):        # 1부터 11까지의 숫자를 반복
  if num % 3 == 0:             # 숫자(num)를 3으로 나눈 나머지가 0인 경우
    print("박수", end=' ')     # 박수를 출력하고 공백 만듦
  else:                        # 그게 아니면
    print(num, end=' ')        # 숫자만 출력하고 공백 만듦

1 2 박수 4 5 박수 7 8 박수 10

6. 팩토리얼 계산하는 코드 작성

In [ ]:
i = 5                                        # 변수 i는 5로 선언
factorial = 1                                # factorial 변수는 1로 선언
while i >= 10:                               # 반복문 while사용해서 i가 10보다 크거나 같을때
  factorial = factorial * i                  # factorial 변수에 i 값을 곱하여 갱신합니다.
  i -= 1                                     # i 변수를 1 감소시킵니다.
print(factorial)                             # factorial 변수에 저장된 값을 출력합니다.

1

In [ ]:
num = int(input("팩토리얼 값입력: "))                       # 사용자로부터 정수 값을 입력받아 num 변수에 저장합니다.
factorial = 1                                               # 팩토리얼 값을 저장할 변수 factorial을 1로 초기화합니다.
while num >= 1:                                             # num이 1 이상일 동안 아래의 코드 블록을 반복 실행합니다.
  factorial = factorial * num                               # factorial 변수에 num 값을 곱하여 갱신합니다.
  num -= 1                                                  # num 변수를 1 감소시킵니다.
print("계산된 팩토리얼 값은 :", factorial)                  # "계산된 팩토리얼 값은:"과 함께 factorial 변수에 저장된 값을 출력합니다.

팩토리얼 값입력: 3
계산된 팩토리얼 값은 : 6