<a href="https://colab.research.google.com/github/Sungyeonwooo/code_3rd/blob/main/py231019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
1. To-Do-List를 작성하시오.
  - 2023년 10월 19일 성연우
  - (1) 09:20 도서관에서 책 빌리기
  - (2) 11:10 컴퓨팅적 사고와 기초코딩 수업
  - (3) 13:00 점심식사
  - (4) 14:10 교양수업
  - (5) 16:00 파이썬 공부 및 레포트 작성
  - (6) 17:40 저녁식사 및 집안일 돕기
  - (7) 19:00 fc온라인 하기

In [ ]:
print("1. To-Do-List를 작성하시오.")                           # To-Do-List를 작성하시오를 출력한다.
print("  - 2023년 10월 19일 성연우")                           # 2023년 10월 19일 성연우를 출력한다.
print("  - (1) 09:20 도서관에서 책 빌리기")                    # (1) 09:20 도서관에서 책 빌리기를 출력한다.
print("  - (2) 11:10 컴퓨팅적 사고와 기초코딩 수업")           # (2) 11:10 컴퓨팅적 사고와 기초코딩 수업를 출력한다.
print("  - (3) 13:00 점심식사")                                # (3) 13:00 점심식사를 출력한다.
print("  - (4) 14:10 교양수업")                                # (4) 14:10 교양수업를 출력한다.
print("  - (5) 16:00 파이썬 공부 및 레포트 작성")              # (5) 16:00 파이썬 공부 및 레포트 작성를 출력한다.
print("  - (6) 17:40 저녁식사 및 집안일 돕기")                 # (6) 17:40 저녁식사 및 집안일 돕기를 출력한다.
print("  - (7) 19:00 fc온라인 하기")                           # (7) 19:00 fc온라인 하기를 출력한다.

1. To-Do-List를 작성하시오.
  - 2023년 10월 19일 성연우
  - (1) 09:20 도서관에서 책 빌리기
  - (2) 11:10 컴퓨팅적 사고와 기초코딩 수업
  - (3) 13:00 점심식사
  - (4) 14:10 교양수업
  - (5) 16:00 파이썬 공부 및 레포트 작성
  - (6) 17:40 저녁식사 및 집안일 돕기
  - (7) 19:00 fc온라인 하기

2. 인사말 출력하기
  - 식사하셨습니까? 햄

In [ ]:
print("2. 인사말 출력하기")               # 2. 인사말 출력하기를 출력한다.
print("  - 식사하셨습니까? 햄")           # - 식사하셨습니까? 햄를 출력한다.

2. 인사말 출력하기
  - 식사하셨습니까? 햄

3. 학생 4명의 국어점수를 입력받아서 아래와 같이 출력하시오.
  - 박보검: 90점
  - 션    : 92점
  - 도룡뇽: 80점
  - 차은우: 99점
  - 국어 점수 순위
  - 1등 차은우
  - 2등 션
  - 3등 박보검
  - 4등 도룡뇽

In [ ]:
n1 = int(input(" 박보검학생의 점수를 입력하시오. :"))            # 박보검 학생의 점수를 입력받아 n1 변수에 저장합니다.
n2 = int(input(" 션학생의 점수를 입력하시오. :"))                # 션 학생의 점수를 입력받아 n2 변수에 저장합니다.
n3 = int(input(" 도룡뇽학생의 점수를 입력하시오. :"))            # 도룡뇽 학생의 점수를 입력받아 n3 변수에 저장합니다.
n4 = int(input(" 차은우학생의 점수를 입력하시오. :"))            # 차은우 학생의 점수를 입력받아 n4 변수에 저장합니다.
print("1등","차은우",n4)                                         # 1등 학생의 정보와 점수를 출력합니다.
print("2등","션",n2)                                             # 2등 학생의 정보와 점수를 출력합니다.
print("3등","박보검",n1)                                         # 3등 학생의 정보와 점수를 출력합니다.
print("4등","도룡뇽",n3)                                         # 4등 학생의 정보와 점수를 출력합니다.

 박보검학생의 점수를 입력하시오. :90
 션학생의 점수를 입력하시오. :92
 도룡뇽학생의 점수를 입력하시오. :80
 차은우학생의 점수를 입력하시오. :99
1등 차은우 99
2등 션 92
3등 박보검 90
4등 도룡뇽 80

4. 두개의 점수를 입력받아서 합계와 평균을 출력하시오.

In [ ]:
n1 = int(input(" 박보검의 값을 입력하시오.:"))              # 박보검의 값을 입력받아 n1 변수에 저장합니다.
n2 = int(input(" 차은우의 값을 입력하시오.:"))              # 차은우의 값을 입력받아 n2 변수에 저장합니다.
total = n1 + n2                                             # n1과 n2의 합을 계산하여 total 변수에 저장합니다.
average = total / 2                                         # total을 2로 나누어 평균을 계산하여 average 변수에 저장합니다.
print(total)                                                # total 값을 출력합니다.
print(average)                                              # average 값을 출력합니다.

 박보검의 값을 입력하시오.:90
 차은우의 값을 입력하시오.:99
189
94.5